@model IEnumerable<OnlineCarBikeRentalSystem.Models.ViewModel.SliderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<br />
<button type="button" class="btn btn-info" style="margin-left:30px;">@Html.ActionLink("Add New SliderContent", "AddNewSliderContent")</button>
<table class="table table-striped table table-bordered">
    <h1 class="text-center">Slider Content List</h1>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.SliderId)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th scope="col">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SliderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContent", new { id = item.SliderId }, new { @class = "btn btn-info" })|
                @Html.ActionLink("Delete", "Delete", new { id = item.SliderId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<br />
<br />
